[submodule "subagents-pydantic-ai"]
	path = subagents-pydantic-ai
	url = https://github.com/intel-sandbox/subagents-pydantic-ai.git
[submodule "code-graph-providers/potpie"]
	path = code-graph-providers/potpie
	url = https://github.com/intel-sandbox/potpie.git
[submodule "code-graph-providers/CodeGraphContext"]
	path = code-graph-providers/CodeGraphContext
	url = https://github.com/intel-sandbox/CodeGraphContext.git
[submodule "code-graph-providers/scip-languages/scip-clang"]
	path = code-graph-providers/scip-languages/scip-clang
	url = https://github.com/intel-sandbox/scip-clang
